<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="/static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
<link rel="stylesheet" href="/static/css/common.css" th:href="@{/css/common.css}">
<style>
	.img {
		border: 1px solid red;
	}

	.carousel-room {
		display: inline-block;
		float: left;
		margin: 0;
		padding: 5px;
	}

	.main-left {
		float: left;
		width: 60%;
	}

	.main-right {
		float: right;
		width: 40%;
	}

	.float-left {
		float: left;
	}

	.message-contain {
		overflow-y: auto;
		height: 300px;
	}
</style>
<th:block th:replace="fregment/header.HTML :: header-css"/>
<head>
	<meta charset="UTF-8">
	<title>客厅</title>
</head>
<body>
<div class="middle" style="width: 80%;">

	<th:block th:replace="fregment/header.HTML :: header-bar"/>
	<div class="main-left">
		<div class="layui-carousel carousel-room">
			<div carousel-item>
				<div>条目1</div>
				<div>条目4</div>
				<div>条目5</div>
			</div>
		</div>

		<div class="layui-carousel carousel-room">
			<div carousel-item>
				<div>条目1</div>
				<div>条目4</div>
				<div>条目5</div>
			</div>
		</div>

		<div class="layui-carousel carousel-room">
			<div carousel-item>
				<div>条目1</div>
				<div>条目4</div>
				<div>条目5</div>
			</div>
		</div>

		<div class="layui-carousel carousel-room">
			<div carousel-item>
				<div>条目1</div>
				<div>条目4</div>
				<div>条目5</div>
			</div>
		</div>

		<div class="middle layui-col-space8 float-left" style="margin-top: 10px">
			<div class="img layui-col-md2"> img</div>
			<div class="img layui-col-md2"> img</div>
			<div class="img layui-col-md2"> img</div>
			<div class="img layui-col-md2"> img</div>
			<div class="img layui-col-md2"> img</div>
			<div class="img layui-col-md2"> img</div>
			<div class="img layui-col-md2"> img</div>
		</div>
	</div>
	<div class="main-right">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
			<legend>留1言板</legend>
		</fieldset>
		<div class="message-contain" id="message-contain-id">
			<ul class="layui-timeline" id="message-contain-ul-id">
				<li class="layui-timeline-item">
					<div class="layui-timeline-content layui-text">
						<p class="layui-timeline-title">2018-10-28 10:10:10 小悦</p>
						小水新婚快乐哦
					</div>
				</li>
				<li class="layui-timeline-item">
					<div class="layui-timeline-content layui-text">
						<p class="layui-timeline-title">2018-10-28 10:10:09 小锐</p>
						小水新婚快乐哦
					</div>
				</li>
				<li class="layui-timeline-item">
					<div class="layui-timeline-content layui-text">
						<p class="layui-timeline-title">2018-10-28 10:10:08 小四</p>
						小水新婚快乐哦
					</div>
				</li>
			</ul>
		</div>

		<div class="layui-form layui-form-item layui-form-text margin-clean">
			<div class="layui-input-block ">
				<textarea placeholder="此时此刻,你最想说什么?" class="layui-textarea" name="content"
				          lay-verify="message"></textarea>
			</div>
			<div class="layui-input-block" style="margin-top: 10px">
				<button class="layui-btn" lay-submit lay-filter="message">我要留言</button>
			</div>
		</div>
	</div>
</div>


<th:block th:replace="fregment/bottom.HTML :: footer-bar"/>


<script th:src="@{/js/lib/jquery-1.11.2.min.js}" src="/static/js/lib/jquery-1.11.2.min.js"></script>
<script src="/static/layui/layui.js" th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script>
    //layui 相关
    var layer;
    layui.use('layer', function () {
        layer = layui.layer;
    });


    layui.use('carousel', function () {
        var carousel = layui.carousel;
        var renderArray = [];
        var $carouselEle = $(".carousel-room");
        $carouselEle.each(function (i, item) {
            //建造实例
            var rend = carousel.render({
                elem: item
                , width: '200px' //设置容器宽度
                , height: '200px'
                , arrow: 'hover' //始终显示箭头
                , indicator: 'none'
                , interval: "3000"
            });
            renderArray.push(rend);
        })
        $carouselEle.mouseover(function () {
            $.each(renderArray, function (i, item) {
                item.reload({autoplay: false})
            })
        })
        $carouselEle.mouseout(function () {
            $.each(renderArray, function (i, item) {
                item.reload({autoplay: true})
            })
        })
    });


    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function (elem) {
            location.hash = 'test=' + $(this).attr('lay-id');
        });

    });

    layui.use('form', function () {
        var form = layui.form;
        form.on('submit(message)', function (data) {
            saveMessage(data.field.content);
        });
        form.verify({
            message: function (value, elem) {
                value = $.trim(value);
                if (value.length === 0) {
                    return '朋友,请输入你的想法';
                }
                if (value.length < 5) {
                    return '朋友,祝福语多多益善';
                }
                if (value.length > 80) {
                    return '亲爱的朋友,感谢真挚的祝福,80个字已经足够了';
                }
            }
        });


    })


</script>
<script>
    // 业务相关

    //保存一条留言
    function saveMessage(content) {
        $.post("/comment/save", {content: content}, function (result) {
            var state = result.state;
            if (state == 1) {
                renderCommentData(result.data);
                $(".layui-textarea").val('');

                return;
            }
            if (state == 401) {
                window.location.href = "/";
            }
        })
    }

    //初始化留言板内容
    function initCommentData() {
        cleanCommentData();
        getCommentData(function (pageData) {
            if (!Array.isArray(pageData)) {
                return;
            }
            $.each(pageData, function (i, data) {
                renderCommentData(data)
            })
        });
    }

    //清空留言板数据
    function cleanCommentData() {
        $("#message-contain-ul-id").html("");
    }

    //获取留言板内容
    function getCommentData(func) {
        $.post("/comment/list", {current: 1, size: 5000}, function (result) {
            if (result.state != '1') {
                layer.msg('对不起朋友,后院的小路正在维修,请稍后再试');
                return;
            }
            if (typeof func === 'function') {
                func(result.data.pageData);
            }
        });
    }

    //将留言数据追加到留言板
    function renderCommentData(data) {
        var dataHtml = '<li class="layui-timeline-item layui-anim layui-anim-up">' +
            '<div class="layui-timeline-content layui-text">' +
            '<p class="layui-timeline-title">' +
            data.createTime + ' ' + data.userName +
            ':</p>' +
            data.content +
            '</div>\n' +
            '</li>';
        $("#message-contain-ul-id").append(dataHtml);
        pullScroll($("#message-contain-id").get(0))
    }

    //将标签的滚动条滚动到底部
    function pullScroll(elem) {
        elem.scrollTop = elem.scrollHeight;
    }


    initCommentData();

</script>

<th:block th:replace="fregment/header.HTML :: header-js"/>
</body>
</html>